<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget Car</title>
</head>
<style>

    h2.ridge {border-style: ridge;
        border-width: medium;
        border-color: aliceblue;
        border-radius: 5px;
        padding-top: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        text-align: center;

    }
    .button2 {
        background-color: yellowgreen;
    }
</style>
<body bgcolor=#ffa07a>
<div>
    <div style="text-align: center;"/>
    <h2 class="ridge" >BUDGET OF CAR - PARTS</h2>



    <button><a href="/partsAdd" >Add parts expenses</a></button>
    <button><a href="/partsGetAll">View all parts expenses list</a></button>
    <br/>
    <br/>
    <button><a class="button2" href="/MainIndex" >RETURN</a></button>
</div>
</div>
</body>
</html>


