<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All PETROL/GAS LIST</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    table{
        border: 1px solid black;
        margin-left:auto;
        margin-right:auto;
        background-color: beige;
    }
    .button1 {
        background-color: red;
        color: black;
    }
</style>
<body bgcolor=#6b8e23>

<div class="container">

    <div class="row">
        <div id="title">
            <div style="text-align: center;"/>
            <h1>PETROL/GAS EXPENSES LIST</h1>
        </div>
        <div style="text-align: center;"/>
        <table>
            <thead>
            <tr>

                <th>id</th>
                <th>value</th>
                <!--                <th>date</th>-->
                <th>description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="petrolGas : ${list}">
                <td th:text="${petrolGas.id}"></td>
                <td th:text="${petrolGas.value}"></td>
                <!--                <td th:text="${service.date}"></td>-->
                <td th:text="${petrolGas.description}"></td>
                <td>
                    <form  th:action="@{/delete_petrolGas}">
                        <input type="hidden" th:name="id" th:value="${petrolGas.id}"/>
                        <input type="submit" th:value="Delete"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/edit_petrolGas}">
                        <input type="hidden" th:name="id" th:value="${petrolGas.id}"/>
                        <input type="submit" th:value="Edit" />
                    </form></td>
            </tr>
            </tbody>

        </table>
        <table>
            <tbody>
            <h5>TOTAL COSTS</h5>
            <tr data=" ${sum}">
                <td th:text="${sum}"></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <div>
            <form action="#" th:action="@{/petrolGasGetAll}" >
                <input type="submit" th:value="Refresh">
            </form>
        </div>

        <br/>
        <br/>
        <button><a  class="button1" href="/petrolGasIndex" >RETURN</a></button>

    </div>
</div>
</div>
</body>
</html>