<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Service List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    table{
        border: 1px solid black;
        margin-left:auto;
        margin-right:auto;
        background-color: beige;
    }
    .button1 {
        background-color: red;
        color: black;
    }
</style>
<body bgcolor=#add8e6>

<div class="container">

    <div class="row">
        <div id="title">
            <div style="text-align: center;"/>
            <h1>Service List</h1>
        </div>
        <div style="text-align: center;"/>
        <table>
            <thead>
            <tr>

                <th>id</th>
                <th>value</th>
<!--                <th>date</th>-->
                <th>description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="service : ${list}">
                <td th:text="${service.id}"></td>
                <td th:text="${service.value}"></td>
<!--                <td th:text="${service.date}"></td>-->
                <td th:text="${service.description}"></td>
                <td>
                    <form  th:action="@{/delete_service}">
                        <input type="hidden" th:name="id" th:value="${service.id}"/>
                        <input type="submit" th:value="Delete"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/edit_service}">
                        <input type="hidden" th:name="id" th:value="${service.id}"/>
                        <input type="submit" th:value="Edit" />
                    </form></td>
            </tr>
            </tbody>

        </table>
        <table>
            <tbody>
        <h5>TOTAL COSTS</h5>
        <tr data=" ${sum}">
            <td th:text="${sum}"></td>
        </tr>
            </tbody>
        </table>
        <br/>
        <div>
            <form action="#" th:action="@{/serviceGetAll}" >
                <input type="submit" th:value="Refresh">
            </form>
        </div>

        <br/>
        <br/>
        <button><a class="button1"  href="/serviceIndex" >RETURN</a></button>

    </div>
</div>
</div>
</body>
</html>