<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Add Form</title>
</head>
<body bgcolor="#99CC66">
<hr>
<div class="container">
    <h2>Employee Form</h2>
    <div>

        <!--        this.id = id;-->
        <!--        this.title = title;-->
        <!--        this.author = author;-->
        <!--        this.pagesSum = pagesSum;-->
        <!--        this.yearOfPublished = yearOfPublished;-->
        <!--        this.publishingHouse = publishingHouse;-->

        <form action="#" th:action="@{/save_service}" th:object="${book}" method="post">
            <input type="text" th:field="*{title}" placeholder="title"><br>
            <input type="hidden" th:field="*{id}" placeholder="id"><br>
            <input type="text" th:field="*{author}" placeholder="author"><br>
            <input type="text" th:field="*{pagesSum}" placeholder="pages sum"><br>
            <input type="text" th:field="*{yearOfPublished}" placeholder="year of published"><br>
            <input type="text" th:field="*{publishingHouse}" placeholder="publishing house"><br>
            <!--            <input type="hidden" th:field="*{email}" placeholder="email"><br>-->
            <input type="submit" th:value="Save">
        </form>
        <hr>
    </div>
</div>

</body>
</html>